.wrapper-signin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.53);
    height: 100vh;
}

.inner-wrap{
    width: 800px;
    height: 445px;
    border-radius: 8px;;
    background-color: #fff;
    display: flex;
}

.left-content{
    flex: 1;
    padding: 40px 45px;

    & h1{
        line-height: 4rem;
        margin-bottom: 10px;
    }

    & .text-signin{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #606060;
    }
}
.forgot-pass{
    color: rgb(13, 92, 182);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-account{
    color: red;
    &:hover{
        font-weight: 500;
        box-shadow: #ccc;
    }
}
.register{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-signin{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 57, 69);
    border-radius: 8px;
    color: #fff;
    padding: 5px;   
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    &:active{
        background-color: rgb(255, 57, 69, 0.8);
    }
}
.right-content{
    width: 300px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    gap: 4px;
    
    & h4{
        margin-top: 10px;
        color: rgb(11, 116, 229);
        font-size: 17px;
        font-weight: 700;
    }
}


